@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Mona Sans';
    src: url("../fonts/Mona-Sans.woff2");
}

:root {
    --theme-color: #339967;
    --text-color: #000;
    --body-bg: #ffffff;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: var(--body-bg);
    box-sizing: border-box;
    overflow-x: clip;
}

html {
    font-size: 16px;
    scroll-behavior: initial !important;
    overscroll-behavior: none !important;
}

.container-fluid {
    max-width: 100%;
    padding-inline: 12px;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    width: 100%;
}

p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mona Sans', serif;
    color: var(--text-color);
}

.img-auto {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a,
button {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

/*buttons*/

.themeBtn {
    background: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 0.75rem 2rem;
    margin: 0;
    font-size: 1.25rem;
    position: relative;
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    color: var(--text-color);
    border-radius: 5px;
}

.themeBtn::before,
.themeBtn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.themeBtn span {
    display: block;
    position: relative;
}

.themeBtn > span {
    overflow: hidden;
}

.themeBtn > span > span {
    overflow: hidden;
}

.themeBtn:hover {
    color: var(--text-color);
}

.themeBtn:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
    to {
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes MoveUpEnd {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.themeBtn::before {
    content: '';
    background: #000;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
}

.themeBtn:hover::before {
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
}

section {
    min-height: 100vh;
    position: relative;
}

.row [class*="col-"] {
    position: relative;
}

.secHeading {
    font-size: 7.5rem;
    color: var(--theme-color);
    text-transform: capitalize;
    margin: 0 0 1.25rem;
    text-align: center;
}

.secHeading span {
    display: block;
    color: #000;
}

.subHeading {
    font-size: 5.3125rem;
    color: #000;
    text-transform: capitalize;
    margin: 0 0 1.25rem;
}

.subHeading span {
    color: var(--theme-color);
    display: block;
}

/*  header css start  */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11111;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

header .navbar-brand img {
    width: 80px;
    height: 80px;
}

header .navbar-brand {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

header .navbar-brand h3 {
    font-size: 1.375rem;
    font-weight: 600;
}

header .navbar-brand h3 span {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
}

header .navbar-nav .nav-item .nav-link {
    color: #000;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    padding: 0;
}

header .navbar-nav {
    gap: 3rem;
}

header .navbar-nav .nav-item .nav-link.active,
header .navbar-nav .nav-item .nav-link:hover {
    color: var(--theme-color);
}

header .navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--theme-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}

header .navbar-nav .nav-item .nav-link.active::before,
header .navbar-nav .nav-item .nav-link:hover::before {
    transform: scaleX(1);
}

/*  header css end  */
/*  progress bar css start  */

.progressBarWrapper {
    position: fixed;
    z-index: 1111;
    bottom: 50px;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
}

.progressBarWrapper .progressBar {
    width: 100%;
    height: 3px;
    background: rgb(51 153 103 / 25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressBarWrapper .progressBar span {
    width: 10px;
    height: 10px;
    background: var(--theme-color);
    border-radius: 100%;
}

.progressBarWrapper .progressBar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transition: all 0.3s ease;
    background: var(--theme-color);
    height: 3px;
}

/*  progress bar end  */

/*  hero section css start  */

.heroCont {
    position: relative;
}

.heroSec {
    position: relative;
    overflow: hidden;
}

.heroSec img {
    width: 100%;
    height: 1080px;
    object-fit: cover;
    position: relative;
}

.heroSec .mainHeading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 5.275rem;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.heroSec .mainHeading span {
    display: block;
}

.heroSec .content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.heroSec .content p {
    color: #fff;
    font-size: 1.25rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.heroSec .verticleLine {
    display: block;
    width: 1px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    transform-origin: top;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*  hero section css end  */

/*  insight section css start  */

.insightSec {
    padding: 8rem 0;
}

.insightSec .revealingImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 1111;
}

.slider-stack {
    width: 100%;
    height: 600px;
    /* position: absolute; */
    margin: 20px auto;
}

.slider-stack .buttons {
    display: flex;
    position: absolute;
    background: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    top: 55%;
    color: #000;
    font-size: 22px;
    z-index: 100;
    outline: none;
    transition: all 0.2s ease;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.slider-stack .buttons:hover {
    transform: scale(1.3, 1.3);
}

.slider-stack .prev {
    left: -100px;
    right: auto;
}

.slider-stack .next {
    left: auto;
    right: -100px;
}

.slider-stack .carousel .buttons:hover {
    color: #C01313;
    background: #fff;
}

.slider-stack .slider-list {
    width: 300px;
}

.slider-stack .slider-list li {
    transition: all 100ms ease-in-out;
    border-radius: 2px;
    position: absolute;
    list-style: none;
    height: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    transform-origin: bottom;
}

.slider-stack .slider-list li:nth-child(1) {
    top: 72px;
    width: 60%;
    /* animation: scaleCard 100ms; */
}

.slider-stack .slider-list li:nth-child(2) {
    top: 60px;
    width: 70%;
}

.slider-stack .slider-list li:nth-child(3) {
    top: 48px;
    width: 80%;
}

.slider-stack .slider-list li:nth-child(4) {
    top: 36px;
    width: 90%;
}

.slider-stack .slider-list li:nth-child(5) {
    top: 24px;
    width: 100%;
}

.transformThis {
    animation: next 500ms;
}

.transformPrev {
    animation: prev 100ms;
    /*display: none;*/
}

@keyframes prev {
    0% {
        transform: scale(1.5) translateY(-100px);
        opacity: 0;
    }
    20% {
        transform: scale(1.4) translateY(-80px);
        opacity: 0.1;
    }
    40% {
        transform: scale(1.3) translateY(-60px);
        opacity: 0.2;
    }
    60% {
        transform: scale(1.2) translateY(-40px);
        opacity: 0.4;
    }
    80% {
        transform: scale(1.1) translateY(-20px);
        opacity: 0.8;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes next {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    20% {
        transform: scale(1.1) translateY(-20px);
        opacity: 0.8;
    }
    40% {
        transform: scale(1.2) translateY(-40px);
        opacity: 0.4;
    }
    60% {
        transform: scale(1.3) translateY(-60px);
        opacity: 0.2;
    }
    80% {
        transform: scale(1.4) translateY(-80px);
        opacity: 0.1;
    }
    100% {
        transform: scale(1.5) translateY(-100px);
        opacity: 0;
    }
}

@keyframes scaleCard {
    0% {
        top: 5px;
    }
    100% {
        top: 24px;
    }
}

.slider-stack .slider-list li img,
.slider-stack .slider-list li video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  insight section css end  */

/*  data section css start  */

.dataSec {
    padding: 8rem;
}

.dataSec .subHeading {
    position: sticky;
    top: 40vh;
}

.dataSec .row + .row {
    margin-top: 10rem;
}

.dataSec .imgCont {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.dataSec .imgCont + .imgCont {
    margin-top: 60px;
}

.dataSec .imgCont img {
    flex: 0 1 35%;
    background: #FBF9FF;
    width: 35%;
    height: 350px;
    object-fit: scale-down;
}

.dataSec .imgCont .contentBox {
    background: #FBF9FF;
    height: 350px;
    display: flex;
    align-items: center;
    flex: 0 1 60%;
    width: 60%;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.dataSec .imgCont .contentBox p {
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.dataSec .imgCont:hover .contentBox {
    background: var(--theme-color);
}

.dataSec .imgCont:hover .contentBox p {
    color: #fff;
}

/*  data section css end  */

/*  slide section css start  */

.servSlider .swiper-slide {
    overflow: hidden;
    text-align: center;
}

.servSlider .swiper-slide img {
    height: 400px;
    margin: 2rem 0;
}

.servSlider .swiper-slide .subHeading {
    font-size: 4rem;
    margin: 0;
}

.servSlider .swiper-slide p {
    color: var(--theme-color);
    font-size: 2rem;
    width: 75%;
    margin: auto;
}

.slideSec .swiper-button-next,
.slideSec .swiper-button-prev {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #000;
    transition: all 0.3s ease;
}

.slideSec .swiper-button-next::after,
.slideSec .swiper-button-prev::after {
    font-size: 1.25rem;
    font-weight: 800;
}

.slideSec .swiper-button-next:hover,
.slideSec .swiper-button-prev:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/*  slide section css end  */

/*  service section css end  */

.serviceSec .servCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.serviceSec .servCont .servBox {
    flex: 0 1 33.333333%;
    text-align: center;
}

.serviceSec .servCont .servBox figure img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.serviceSec .servCont .servBox h4 {
    font-size: 2rem;
    margin: 1rem 0 0;
}

.serviceSec .subHeading {
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0 0;
}

.serviceSec .subHeading span {
    color: #000;
}

/*  service section css end  */

/*  street section css end  */

.streetViewSec .streetCont {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 15vh;
}

.streetViewSec .streetCont .content {
    width: 45%;
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.streetViewSec .streetCont .tabsCont {
    width: 54%;
    flex: 0 1 54%;
}

.streetViewSec .streetCont .tabsCont ul li + li {
    border-left: 1px solid #ddd;
}

.streetViewSec .streetCont .tabsCont ul li button {
    color: #000;
    border: none;
    font-weight: 500;
    border-radius: 0;
    padding: 0.5rem;
    width: 100%;
}

.streetViewSec .streetCont .tabsCont ul li button.active {
    color: var(--theme-color);
}

.streetViewSec .streetCont .tabsCont ul {
    justify-content: space-between;
    flex-wrap: nowrap;
    border: none;
    margin-bottom: 2rem;
}

.streetViewSec .streetCont .tabsCont ul li {
    width: -webkit-fill-available;
}

.streetViewSec .streetCont .tabsCont .tab-content iframe {
    width: 100%;
    height: 500px;
}

.streetViewSec .streetCont .content .profileBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.streetViewSec .streetCont .content .profileBox figure {
    width: 30%;
    flex: 0 1 30%;
}

.streetViewSec .streetCont .content .profileBox figure img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.streetViewSec .streetCont .content .profileBox h3 {
    color: var(--theme-color);
    font-size: 2.75rem;
    flex: 0 1 70%;
    width: 70%;
    margin: 0;
}

.streetViewSec .streetCont .content .profileBox h3 span {
    display: block;
}

.streetViewSec .streetCont .content p {
    font-size: 1.25rem;
}

.streetViewSec .streetCont:nth-child(2) .tabsCont .tab-content iframe {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.streetViewSec .streetCont:nth-child(3) .tabsCont .tab-content iframe {
    padding-top: 1rem;
    padding-right: 1rem;
}

.streetViewSec .streetCont:nth-child(4) .tabsCont .tab-content iframe {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

/*  street section css end  */